h1 {
    text-align: center;
  }
  th,
  td {
    /* border: 2px solid black; */
    padding: 16px;
    background-color: rgba(128, 128, 128, 0.24);
  }
  table {
    margin: auto;
  }
  th {
    font-size: 1.7rem;
  }
  td {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .wrong {
    color: red;
    font-size: 1.2rem;
    font-weight: 900;
  }
  
  .correct {
    color: green;
    font-size: 1.2rem;
    font-weight: 900;
  }
  
  button {
    padding: 14px 24px;
    border-radius: 16px;
    background-color: rgba(0, 0, 255, 0.712);
    color: white;
    font-size: 1.2rem;
    outline: none;
  }
  
  button:hover {
    background-color: brown;
    cursor: pointer;
  }
  
  .thead span {
    color: rgba(0, 0, 255, 0.712);
  }
  
  .col-1 {
      background-image: linear-gradient(to right, rgb(17, 201, 17), rgb(95, 209, 95));
  }
  
  .col-2{
      background-image: linear-gradient(to right, rgb(28, 109, 28), rgba(17, 136, 43, 0.699));
  }
  
  .col-3{
      background-image: linear-gradient(to right, rgba(39, 146, 146, 0.911), rgba(83, 181, 226, 0.548));
  }
  
  .col-4{
      background-image: linear-gradient(to right, rgb(37, 149, 153), rgb(72, 189, 209));
  }