body{
    background-image: url('./assests/bg-img.jpg');
    background-repeat: no-repeat;
}

nav{
    height: 80px;
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    margin-top: 12px;
}

.logo{
    font-size: 68px;
    margin-left: 34px;
    font-weight: 500;
    letter-spacing: 2px;
    color:  white;
}

nav ul{
    align-items: center;
    display: flex;
    list-style: none;
    margin: auto;

}
nav ul li{
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    font-size: 32px;
    letter-spacing: 1px;
    padding: 8px 16px;
    border-radius: 5px;
    transition: .5s ease;
    cursor: pointer;
    color: white;
}


button{
    padding: 24px 16px;
    font-size: 24px;
    background-color: rgba(216, 112, 147, 0.76);
    border: none;
    border-radius: 4px;
    margin-right: 48px;
    color: white;
    cursor: pointer;
}

#blog, #pages{
    font-size: 32px;
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
    color: white;
    text-decoration: none;
}
#blog option, #pages option{
    color: black;
}

#center-text{
    position: absolute;
    top: 300px;
    left: 750px;
    justify-content: center;

}

p{
    font-size: 78px;
    color: white;
}

#designation{
    font-size: 48px;
    margin-left: 88px;
}

.side-bar{
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    float: right;
    margin-right: 130px;
}

.side-bar span{
    font-size: 38px;
    padding: 26px;
    color: white;
}

.side-bar span i {
    cursor: pointer;

}

